* {
    
    margin: 0;
    overflow-x: hidden;
}


.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vmin;
    background: linear-gradient(to bottom, #09308b 60%, #091a64 60%);
}

.img {
    width: 15vmin;
    height: 15vmin;
    margin-left: 10vmin;
}

.texto1 {
    margin-left: 6vmin;
    margin-top: 3.5vmin;
    font-size: 3.5vmin;
    font-weight: bolder;
    color: aliceblue;
}

.a {
    display: flex;
    flex-direction: column;
    margin-top: 1vmin;
    justify-content: space-around;
    font-weight: bolder;
    
    width: 50%  ;
}
.P-E-S {
display:  flex;
align-items: center;
align-content: center;
justify-content: center;
align-content: center;
background-color: aqua;

}
.labell {
    width: 20vmin;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px black;
    font-size: 2vmin;
    outline: none;
}

.respiratorio {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
}